@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Manrope", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Tilt Prism", cursive;
}
